<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<style>
    .data {
        background-color: rgb(44, 228, 203);
        padding: 20px;
        font-size: 18px
    }
    
    h2 {
        background-color: rgb(240, 198, 229);
        padding: 5px;
        font-size: 40px
    }
</style>

<body>
    <h1>User Details</h1>

    <h2>
        Name :
        <%= user.name %>
    </h2>
    <p class="data">
        Email :
        <%= user.email %>
            <br> Age:
            <%= user.age %>
                <br> Gender
                <%= user.gender %>
                    <br>

    </p>
</body>

</html>